body {
    background-color: #e8d5f5;
    min-height: 100vh;
}

.card-custom {
    border-radius: 10px;
    background-color: white;
    max-width: 500px;
    margin: auto;
}

.hasil-box {
    background-color: #d4b8e8;
    border-radius: 15px;
    padding: 17px;
    color: white;
}

.rekap-box {
    text-align: center;
}

button {
    font-weight: bold;
}