body {
    background: linear-gradient(
        to right,
        #2c1a4d,
        #4b2a7a,
        #7b3fe4
    );
    min-height: 100vh;
}

.card-custom {
    border-radius: 10px;
    background-color: #f8f5ff;
}

.hasil-box {
    background-color: #6a3de8;
    border-radius: 15px;
    padding: 17px;
    color: white;
}

button {
    font-weight: bold;
}